/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  text-align: center; /* [4] */
  text-transform: uppercase;
  border: 1px solid $white;
  border-radius: 5em;
  z-index: 0;
  position: relative;
  padding: 1em 2em;
  margin: 0; /* [4] */
  color: $white;
  font-size: 0.9rem;
  cursor: pointer; /* [5] */
  overflow: hidden;
  transition: border-color 0.2s $easeOutQuad 0.025s;

  @include media('>=medium') {
    font-size: 1rem;
  }

  &:before {
    display: none;
  }

  &:after {
    @include pseudo;
    z-index: -1;
    left: 0;
    top: 50%;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 250%;
    border-radius: 50%;
    transform: translate3d(100%, -50%, 0);
    transform-origin: top right;
    transition: transform 0.2s $easeOutQuad;
    background-color: $mid-grey;
  }

  &:hover,
  &:active {
    border-color: $mid-grey;

    &:after {
      transform: translate3d(0, -50%, 0) rotate(0deg);
    }
  }
}

.c-btn--primary {
  border-color: $primary-color;
  background-color: $primary-color;

  &:after {
    display: none;
  }

  &:hover,
  &:active {
    border-color: $primary-color;
  }
}

.c-btn--download {
  padding: 0;

  &:hover,
  &:active {
    .c-btn__inner--text {
      transform: translate3d(0, 100%, 0);
    }

    .c-btn__inner--logo {
      transform: translate3d(0, 0, 0);
      transition-delay: 0.10s;
    }
  }
}

.c-btn__inner {
  display: block;
  padding: 1em 2em;
  width: 100%;
  height: 100%;
  transition: transform 0.2s $easeOutQuad;
}

.c-btn__inner--logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0, -100%, 0);

  img {
    display: block;
    margin: auto;
    width: 1.75em;
    height: auto;
  }
}

.c-link {
  font-size: 1vw;
  color: #fff;
  font-weight: 600;

  a, label, span {
    display: inline-block;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  input {
    display: none;
  }
}