<template>
  <div id="home">

    <span id="title">VJShow</span>

    <interface-component ref="interfaceComponent"></interface-component>
    <web-g-l-component ref="webGLComponent"></web-g-l-component>
    <about-component ref="aboutComponent"></about-component>

  </div>
</template>

<script>
  import AboutComponent from "@/views/components/AboutComponent.vue";
  import InterfaceComponent from "@/views/components/InterfaceComponent.vue";
  import WebGLComponent from "@/views/components/WebGLComponent.vue";

  export default {
    name: 'Home',
    components: {
      AboutComponent,
      InterfaceComponent,
      WebGLComponent,
    }
  }
</script>

<style lang="scss" scoped>
  #title {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 1.5vw;
    background-color: #000;
    padding: 0 10px;
  }
</style>