<template>
  <div class="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'app'
  };
</script>

<style src="./styles/app.scss" lang="scss"></style>
<style>
  .app {
    font-family: "Raleway", sans-serif;
  }
</style>
