<template>
  <div id="about" class="fullscreen">
    <span class="title content" ref="contentTitle">about</span>
    <span class="title contributors" ref="contributorsTitle">contributors</span>

    <div id="contentContainer">

    </div>

    <div id="contributorsContainer">

    </div>

    <div class="line topLine" ref="topLine"></div>
    <div class="line rightLine" ref="rightLine"></div>
  </div>
</template>

<script>
  import SplitType from '@/utils/splittype';
  import TweenLite from 'gsap/TweenLite';
  import TimelineLite from 'gsap/TimelineLite';

  const vw = (coef) => window.innerWidth * (coef/100);
  const vh = (coef) => window.innerHeight * (coef/100);

  export default {
    name: 'AboutComponent',
    data() {
      return {
        isFirstShow: true,
        isTopLineAnimLaunched: false
      };
    },
    mounted: function () {
      this.addListeners();
    },
    beforeDestroy: function () {
      this.removeListeners();
    },
    methods: {
      addListeners() {
        this.$bus.$on('aboutComponent/show', () => {
          this.show();
        });
      },

      removeListeners() {
        this.$bus.$off('aboutComponent/show');
      },

      show() {
        let tl = new TimelineLite();
        tl.to(this.$el, 1, {y: vh(-100), ease: Power2.easeInOut});
        tl.to(this.$refs.rightLine, 1, {height: vh(100), ease: Power2.easeInOut, onUpdate: this.onRightLineAnim, onUpdateScope: this, onUpdateParams:["{self}"]});

        this.isFirstShow = false;
      },

      onRightLineAnim(tween) {
        if (tween.progress() >= 0.6 && !this.isTopLineAnimLaunched) {
          TweenLite.to(this.$refs.topLine, 1, {width: vw(80), ease: Power2.easeOut, onComplete: () => {
              this.animTitles();
            }
          })
        }
      },

      animTitles() {
        let contentTitleChars = new SplitType(this.$refs.contentTitle);
        contentTitleChars.split('chars');

        let tl = new TimelineLite();
        for (let char of contentTitleChars.chars) {
          tl.to(char, 0.2, {y: "-=72"}, "-=0.1");
        }
      }
    }
  };

</script>

<style lang="scss" scoped>
  $contentSize: 80;
  $lineSize: 10px;

  #about {
    top: 100vh;
    z-index: 10;
    background-color: #fff;
  }

  #contentContainer {
    z-index: 10;
    position: absolute;
    top: calc(#{100 - $contentSize + unquote("vh")} + 10px);
    left: 0;
    width: $contentSize + unquote("vw");
    height: $contentSize + unquote("vh");
    background-color: #fff;
  }

  #contributorsContainer {
    z-index: 10;
    position: absolute;
    top: 0;
    left: calc(#{$contentSize + unquote("vw")} + 10px);
    width: 100 - $contentSize + unquote("vw");
    height: 100vh;
    background-color: #fff;
  }

  .title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: #000000;
    line-height: 20px;
    vertical-align: text-bottom;

    &.content {
      position: absolute;
      top: calc(20vh + 50px);
      left: 10vw;
    }

    &.contributors {
      position: absolute;
      top: 10vh;
      left: 25vw;
    }
  }

  .line {
    position: absolute;
    background-color: #000;

    &.topLine {
      top: 100 - $contentSize + unquote("vh");
      right: 100 - $contentSize + unquote("vw");
      width: 0;
      height: $lineSize;
    }

    &.rightLine {
      bottom: 0;
      left: $contentSize + unquote("vw");
      width: $lineSize;
      height: 0;
    }
  }
</style>



