<template>
  <div id="interface" class="fullscreen">
    <span class="c-link about">
      <a href="#" @click="onClickAboutLink">about</a>
    </span>
    <span class="c-link music">
      <label for="input-music">use your own music</label>
      <input id="input-music" ref="inputMusic" type="file" accept="audio/*" @change="onUploadMusic">
    </span>
  </div>
</template>

<script>
  import Sound from '@/utils/Sound';

  export default {
    name: 'InterfaceComponent',
    data() {
      return {

      };
    },
    methods: {
      onUploadMusic() {
        let reader  = new FileReader();
        let file = this.$refs.inputMusic.files[0];
        reader.addEventListener("load", function () {
          Sound.init(reader.result);
        }, false);

        if (file) {
          reader.readAsDataURL(file);
        }
      },

      onClickAboutLink() {
        this.$bus.$emit("aboutComponent/show");
      }
    }
  };
</script>

<style lang="scss" scoped>
  #interface {
    z-index: 5;

    .about {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }

    .music {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }
</style>
