<template>
  <div id="webgl" class="fullscreen"></div>
</template>

<script>
  // WebGL scenes
  import Box from '@/webgl/objects/Box';
  import {Town} from '@/webgl/objects/Town';
  import {Sea} from '@/webgl/objects/Sea';
  import Temprance from '@/webgl/objects/Temprance';
  import {Gwydyan} from '@/webgl/objects/Gwydyan';
  import {FuckGosu} from '@/webgl/objects/FuckGosu';
  import {FuckGobelins} from '@/webgl/objects/FuckGobelins';
  import {Jordy} from '@/webgl/objects/Jordy';

  export default {
    name: 'WebGLComponent',
    data() {
      return {
        webgl: null,
        // TODO Display Webgl canvas only if loaded
        isLoaded: false
      };
    },
    mounted() {
      import('@/webgl').then(webgl => this.initWebGL(webgl));
    },
    methods: {
      loadWebGL() {
        // TODO Create assets queue to load all assets

        // Add any "WebGL components" here...
        this.webgl.scene.add(new Sea());
        this.webgl.scene.add(new Box());
        this.webgl.scene.add(new Temprance());
        this.webgl.scene.add(new Gwydyan());
        this.webgl.scene.add(new FuckGosu());
        this.webgl.scene.add(new FuckGobelins());
        this.webgl.scene.add(new Jordy());

        // Add here the name of your scenes to make it activable
        this.webgl.scenes = [
          "sea",
          "box",
          "temprance",
          "gwydyan",
          "fuckGosu",
          "fuckGobelins",
          "jordy"
        ];

        this.onWebGLLoaded();
      },
      initWebGL(context) {
        const {webgl} = context;

        this.webgl = webgl;

        // To avoid page pulling, text highlighting and such
        this.webgl.canvas.addEventListener(
          'touchstart',
          this.handlePreventDefault
        );
        this.webgl.canvas.addEventListener(
          'mousedown',
          this.handlePreventDefault
        );

        this.$el.appendChild(this.webgl.canvas);
        this.loadWebGL(this.webgl);
      },
      onWebGLLoaded() {
        this.isLoaded = true;

        // start animation loop
        this.webgl.start();

        // draw a frame so that its correct on first DOM render
        this.webgl.draw();

        this.addSceneSelection();
      },

      addSceneSelection() {
        for (let scene in this.webgl.scenes) {
          //this.$el.appendChild
        }
      },

      handlePreventDefault(ev) {
        ev.preventDefault();
      }
    }
  };
</script>
