/* ==========================================================================
   #FONTS
   ========================================================================== */

// This file contains all @font-face declarations, if any.


@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-Black.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-Italic.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-LightItalic.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-Thin.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../static/fonts/Montserrat-Light.woff2') format('woff2'),
  url('../../static/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

