/* ==========================================================================
   #ELEMENTS
   ========================================================================== */

html {
  min-height: 100%;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transform-origin: 50% 50%;
}

body {
  color: $text-color;
  font: 16px / 1.5 $text-font-stack;
}

canvas {
  display: block;
}
